@import "../../assets/styles/variables.scss";

.btn {
  padding: 0.5em;
  width: fit-content;
  border: none;
  background-color: $color-tertiary;
  color: white;
  font-weight: bold;
  border-radius: 0.5em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #e5e5e5;
    color: black;
  }
}
