@import "../../assets/styles/variables.scss";

.item-sheet {
  display: flex;
  flex-direction: column;
  gap: 2em;

  &__sendSection {
    width: 100%;

    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1em;

    label {
      font-size: 0.95rem;
      color: $color-secondary;
    }
  }
}
