@import "../../assets/styles/variables.scss";

.item-sheet {
  display: flex;
  flex-direction: column;
  gap: 2em;

  &__sendSection {
    @include center;
    max-width: 1002px;
    display: flex;
    flex-direction: column;
    gap: 1em;

    label {
      font-size: 0.95rem;
      color: $color-secondary;
    }

    &__error {
      color: $required-color;
      font-size: 0.9rem;
      font-style: italic;
    }
  }
}
