@import "../../assets/styles/variables.scss";

.import-data {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  h3 {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }

  &__button {
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
  }
}

.btn-primary {
  background-color: $color-tertiary;
  padding: 0.5em;
  width: fit-content;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 0.5em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #e5e5e5;
    color: black;
  }
}

.btn-danger {
  padding: 0.5em;
  background-color: red;
  width: fit-content;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 0.5em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #e5e5e5;
    color: black;
  }
}
