@import "../../assets/styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 100%;
  max-width: 95%;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  align-items: center;
  margin-top: 1em;
  font-weight: 500;

  @media (min-width: 1120px) {
    max-width: 1080px;
  }

  img {
    width: 100px;
    object-fit: contain;
  }

  h2 {
    margin-bottom: 2em;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: underline;
  }

  &__explication {
    display: flex;
    gap: 1em;
    flex-direction: column;

    h3 {
      font-size: 1rem;
      font-weight: 600;
    }

    &__tuto {
      display: flex;
      flex-direction: column;
      gap: 1em;

      &--liste {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        margin-left: 2em;

        li {
          strong {
            font-weight: 600;
          }
        }
      }
    }

    &__legal {
      p {
        strong {
          font-weight: 600;
          color: #8b0000;
        }

        span {
          text-decoration: underline;
        }
      }
    }

    h4 {
      margin-top: 1em;
      font-style: italic;
    }
  }
}
