@import "../../assets/styles/variables.scss";

.form {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 1002px;
  @include center;

  h2 {
    font-size: 1.2rem;
    font-weight: 600;
  }

  p {
    font-size: 0.95rem;
    strong {
      font-weight: 600;

      span {
        color: $required-color;
      }
    }
  }

  &__input {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1em;
    row-gap: 0.5em;

    label {
      display: none;

      &::after {
        content: " *";
        color: $required-color;
      }
    }

    &__name,
    &__email,
    &__phone {
      display: flex;
      gap: 1em;
    }

    &__phone {
      display: flex;
      gap: 0.5em;

      &--countryCode {
        width: 30%;
      }
    }

    &__name {
      &--nom {
        text-transform: uppercase;

        &::placeholder {
          text-transform: none;
        }
      }

      &--prenom {
        text-transform: capitalize;

        &::placeholder {
          text-transform: none;
        }
      }
    }

    &__email {
      &--email {
        text-transform: lowercase;

        &::placeholder {
          text-transform: none;
        }
      }
    }

    input,
    select {
      box-sizing: border-box;
      padding: 0.75em 0.5em;
      border: none;
      border-radius: 0.5em;
      background-color: #ffffff;
    }

    input {
      width: 100%;
      &:focus {
        outline: 2px solid $color-tertiary;
        color: $color-tertiary;
      }
    }
  }
}

p {
  span {
    font-weight: bold;
    color: $required-color;
  }

  grid-column: 1 / -1;
  font-size: 0.8rem;
  font-style: italic;
  text-align: left;
}
